<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} [%-5level] %logger{36}.%M - %msg%n%ex</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="INFO">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.flywaydb" level="error" />

    <logger name="org.springframework.boot.autoconfigure.orm.jpa.JpaBaseConfiguration$JpaWebConfiguration" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>